// styleをかいていく
.container{
    display: flex;
    flex-direction: column;
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    font-size: 17px;
}
.title {
    font-family: 'Rochester', cursive;
    font-weight: bold;
    font-size: 50px;
    margin: 20px;
    color: #fff066;
    opacity: 0.8;
    text-shadow: 2px 2px 5px gray;
    text-align: center;
}
h2 {
    color: #666666;
    font-size: 20px;
    margin: 10px;
    text-align: center;
}
//googleボタン実装
a:hover {
    color: #42b983
}
.googleIcon{
    color: white;
}
.login {
    text-align: center;
}
.login button{
    margin: 20px;
    width: 300px;
    height: 40px;
    color: white;
    background-color: #42b983;
    opacity: 0.8;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 7px #329166;
    border: #42b983;
}
.login button:hover{
    background-color: #3dac7a;
}
.login button:active {
    position: relative;
    top: 6px;
    box-shadow: none;
}
//ボタン以下
img{
    max-width: 900px;
    border: 1px solid #e6e6e6;
}
.editorImage{
    text-align: center;
    margin: 30px 30px 0px 30px;
}
ul{
    display: flex;
    justify-content: center;
}
.news{
    display: flex;
}
.date{
    margin: 10px;
    font-size: 13px;
    background-color: #f5f5f5;
    color: #666666;
    border-radius: 5px;
    line-height:2;
}
.updata{
    margin: 10px;
}
//フッター
.footer {
    border-top: 1px solid #d3d3d3;
    padding: 10px;
}
li {
    color: #666666;
    margin: 20px;
    text-align: center;
}
//Editor
.memoListWrapper{
    width: 20%;
    float: left;
    border-top: 1px solid #d3d3d3;
}
.memoList{
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
    border-bottom: 1px solid #d3d3d3;
    //evenはlistの偶数番目に色がつく
    &:nth-child(even){
        background-color:#ffffe0;
        opacity: 0.8;
    }
    &[data-selected="true"]{
        background-color: #c2ffe3;
        opacity: 0.8;
    }
}
.memoTitle{
    height: 1.5em;
    margin: 0;
    white-space:nowrap;
    overflow: hidden;
}
.markdown{
    float: left;
    width:50%;
    height: 500px;
}
//以下Editorカスタマイズ
.editor{
    font-size: 17px;
}
.editorContainer{
    color: #4e4e4e;
}
.main{
    display: flex;
    width: 100%;
}
.EditorTitle{
    font-family: 'Rochester', cursive;
    font-weight: bold;
    font-size: 30px;
    margin: 20px;
    color: #fff066;
    opacity: 0.8;
    text-shadow: 2px 2px 8px gray;
    float: left;
}
span{
    float: right;
    margin:20px 0px;
}
.logout {
    float: right;
    margin:13px;
    width: 100px;
    height: 35px;
    text-align: center;
    border-radius: 8px;
    background-color:#42b983;
    color: white;
}
.addMemoBtn,.deleateMemoBtn,.saveMemosBtn {
    width: 40px;
    height: 35px;
    margin:auto;
    border-radius: 8px;
    background-color:#42b983;
    color: white;

}
.previewArea {
    flex-direction: column;
    float: left;
    width: 30%;
    text-align: left;
}
.area{
    padding: 10px;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px dotted #d3d3d3;
    font-size: 13px;
    color: #666666;
}
.buttonList{
    padding: 10px;
    border-bottom: 1px solid #d3d3d3;
}
.markdown{
    background-color: #e6e6e6;
    border:1px solid #d3d3d3;
}
//responsive
@media only screen and (max-width:600px){
    .editor{
        font-size: 20px;
    }
    .logout{
        width: 150px;
        height: 35px;
        font-size: 20px;
    }
}